.links_container {
  display: flex;
  flex-wrap: wrap;
}

.links_container__title {
  font-weight: bold;
  font-size: 1em;
  color: var(--subtitle);
  text-decoration: none;
  transition: all 0.25s;
  margin: 0;
}

.links_container ul {
  list-style-type: none;
  text-align: left;
  padding: 2px 15px;
}

.links_container li, a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.25s;}

.links_container a:hover {
  color: var(--subtitle);
  transition: all 0.25s;}
