.card {
  background-color: var(--fg);
  display: flex;
  width: auto;
  margin: 0 20px;
  transition: all 0.25s;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.4);
}

@media (max-width: 980px) {
  .card {
    width: 833px;
  }
}

@media (max-width: 833px) {
  .card {
    width: 650px;
  }
}

@media (max-width: 650px) {
  .card {
    width: 100%;
  }
}
